/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--page-main-font), sans-serif;
  font-variation-settings:
    'wght' var(--page-main-font-weight),
    'wdth' 100,
    'opsz' 0;
  color: var(--main-font-color);
  line-height: var(--main-font-line-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-block-size: 100dvb;
  min-inline-size: 320px;
  background-image: var(--page-background-image);
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  block-size: clamp(200px, 56vh, 368px);
  background-color: #ffffff;
  font-family: var(--page-accent-font), fantasy;
  margin: var(--margin-desktop-size);
}

.main__header {
  display: flex;
  flex-direction: column;
  font-size: var(--main-title-font-size);
  line-height: var(--main-font-line-height);
  color: var(--main-font-color);
  margin-block-start: 20px;
  block-size: 65px;
}

.title__description {
  display: flex;
  text-transform: uppercase;
  font-size: var(--subtitle-font-size);
  line-height: var(--subtitle-line-height);
  flex-wrap: nowrap;
  block-size: 23px;
}

.main__section {
  display: flex; 
  flex-direction: column;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 49px;
}

.card {
  border: 2px solid #000;
  inline-size: min(100vi, 700px);
  background-color: var(--main-background-color);
}

.card__title {
  display: flex;
  flex-direction: column;
  font-family: var(--page-main-font), sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-font-line-height);
  font-variation-settings:
  'wght' var(--page-titles-font-weight),
  'wdth' 100,
  'opsz' 0;
  padding: 4px 10px 6px;
}

.card__image {
  position: relative;
  border-bottom: 2px solid #000;
}

.experience__card-image {
  inline-size: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  object-position: center;
}

.filter__brightness {
  filter: brightness(150%);
}

.filter__saturate {
  filter: saturate(200%);
}

.filter-multy {
  filter: hue-rotate(180deg) sepia(1) saturate(150%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-rotate {
  filter: hue-rotate(320deg);
}

.filter-grayscale {
  filter: grayscale(0.7);
}

.filter-blur {
  filter: blur(0.5rem);
}

.card__image-element {
  position: absolute;
  opacity: 0.5; 
  color: #000;
  font-family: var(--page-accent-font);
  font-size: 14px; 
  line-height: 14px;
  right: 25px;
  top: 26px;
  text-shadow: 0 0 1px #fff;
  z-index: 1;
  mix-blend-mode: hard-light;
}

.experience__share {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 27px 25px 25px;
  font-size: var(--main-font-size);
  line-height: var(--main-font-line-height);
}

.like-icon .heart {
  transform-origin: center;
}

@supports 
    (-webkit-text-stroke: 1px #fff) or
    (text-stroke: 1px #fff)
{
.card__image-element {
  text-shadow: none;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}
}

.card__feedback {
  display: flex; 
  justify-content: end; 
  padding: 0 25px 25px;
  gap: 6px; 
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
}

.button {
  cursor: pointer;
}

.button:focus {
  outline: none; 
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.button::after {
  content: "";
  inset: 0;
  z-index: 1; 
  position: absolute;
  background-color: #000;
  block-size: 100%; 
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5 ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--page-accent-font), fantasy;
  font-weight: var(--page-titles-font-weight), 700;
  font-size: var(--like-button__font-size);
}

.like__icon-button {
  display: flex; 
  border: none; 
  cursor: pointer; 
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  transition: border-color 0.3 ease;
}

.like__icon-button:focus-visible {
  outline: none;
  border-color: #000;
}

.feedback {
  display: flex;
  justify-content: center;
  margin-block-end: 103px;
  cursor: pointer;
}

.save__memory {
  inline-size: 340px;
  block-size: 55px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

.floppy-min-size {
  width: 21px;
}

.window-dialog {
  position: fixed;
  padding: 30px;
  border: 2px solid #000;
  z-index: 1;
  background-color: #fff;
  max-width: 357px;
  top: 0;
  left: 0;
}

.window-dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 30px;
  gap: 20px;
}

.floppy-max-size {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dialog-window-title {
  font-family: var(--page-accent-font);
  font-size: var(--like-button__font-size);
  text-transform: uppercase;
}

.discet-insert {
  text-transform: uppercase;
  inline-size: 100%;
  border: 2px solid #000;
  block-size: 38px;
  font-size: var(--like-button__font-size);
}
